{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="padding-top:50px;">
    <div class="content-section col-lg-6" >
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Join Today
                </legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Acount?
                <a href="" class="ml-2" href="#">Sign Up</a>
            </small>
        </div>
    </div>
</div>

{% endblock content %}
